<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../static/style.css">
    
    <title>The absorption onset is...</title>
    </head>
    <body>
        <div class="container">
            <h1>Onsets</h1>
            <form method="post" action="/">
                <input type="submit" name="submit_button" value="Return to Upload File">
            </form>

                {% if final_x_value_1 != None %}
              
                <p style="font-size:30px"> The first onset value: <strong>{{final_x_value_1}} {{xu_abrev}}</strong> </p>
                <p><em>The input interval was {{text1}} and the used interval was {{test_1}}</em></p>
                <p>{{line_formula1}}</p>
                <p>RMS Error for the Polynomial Fit: {{rms_1}}</p>
                <img src="{{ image_1 }}"/>

                <p> For the Starting and Ending X Values, use integers in the following format: 200 </p>
                <p> The Starting and Ending Y Values accept floats and integers</p>
                <p> The file will be named by the File Name line as a pdf</p>
                <p> <em>Note</em>: All boxes require input</p>

                
                
                <FORM METHOD="POST" enctype=multipart/form-data>
                    <TABLE BORDER="1">
                      <TR>
                        <TD>Starting X value</TD>
                        <TD>
                          <INPUT TYPE="TEXT" NAME="x_range_start_1" SIZE="20" value={{x_range_out_1[0]}}>
                        </TD>
                      </TR>
                      <TR>
                        <TD>Ending X Value</TD>
                        <TD><INPUT TYPE="TEXT" NAME="x_range_end_1" SIZE="20" value={{x_range_out_1[1]}}></TD>
                      </TR>
                      <TR>
                        <TD>X-Axis Title</TD>
                        <TD><INPUT TYPE="TEXT" NAME="x_axis_1" SIZE="20" value = "Use Above" ></TD>
                      </TR>
                      <TR>
                        <TD>Starting Y value</TD>
                        <TD>
                          <INPUT TYPE="TEXT" NAME="y_range_start_1" SIZE="20" value='0.0'>
                        </TD>
                      </TR>
                      <TR>
                        <TD>Ending Y value</TD>
                        <TD>
                          <INPUT TYPE="TEXT" NAME="y_range_end_1" SIZE="20" value={{max_y_1}}>
                        </TD>
                      </TR>
                      <TR>
                        <TD>Y-Axis Title</TD>
                        <TD><INPUT TYPE="TEXT" NAME="y_axis_1" SIZE="20" value = "Use Above" ></TD>
                      </TR>
                      <TR>
                        <TD>Title</TD>
                        <TD><INPUT TYPE="TEXT" NAME="Title1" SIZE="20"></TD>
                      </TR>
                      <TR>
                        <TD>File Name</TD>
                        <TD><INPUT TYPE="TEXT" NAME="file1" SIZE="20" value={{plot_filename}}></TD>
                      </TR>
                      <TR>
                        <TD>Plotted Line</TD>
                        <TD><label for="radio_y1">Yes</label>
                        <INPUT TYPE="radio" NAME="radio1" checked id="radio_y1" value="radio_y">
                        <label for="radio_n1">No</label>
                        <INPUT TYPE="radio" NAME="radio1" id="radio_n1" value="radio_n"> </TD>
                      </TR>

                    </TABLE>
                    <P><INPUT TYPE="SUBMIT" VALUE="Save Figure 1" NAME="plot1_svfig"></P>
                </FORM>

              


                <img src="{{ image_2 }}"/>

                {% endif %}
                {% if final_x_value_1 == None %}
                <br><pe_1> Found no datapoints or no inflection point after the maximum value; therefore, no onset was calculated.<br>
                   If this was not a baseline and the datapoints do exist, then try several manual input ranges.<br> If it still will not work, contact amwalla3@go.olemiss.edu </pe_1>
                {% endif %}
                
                {% if final_x_value_2 != None %}
                <p style="font-size:30px"> The Second Onset Value: <strong>{{final_x_value_2}} {{xu_abrev}}</strong></p>
                <p><em>The input interval was {{text1}} and the used interval was {{test_2}}</em></p>
                <p>Plotted Line: {{line_formula2}}</p>
                <p>RMS Error for the Polynomial Fit: {{rms_3}}</p>
                <img src="{{ image_3 }}"/>
                <p> For the Starting and Ending X Values, use integers in the following format: 200 </p>
                <p> The Starting and Ending Y Values accept floats and integers</p>
                <p> The file will be named by the File Name line as a pdf</p>
                <p> <em>Note</em>: All boxes require input</p>
            
                
                <FORM METHOD="POST" enctype=multipart/form-data>
                    <TABLE BORDER="1">
                      <TR>
                        <TD>Starting X value</TD>
                        <TD>
                          <INPUT TYPE="TEXT" NAME="x_range_start_2" SIZE="20" value={{x_range_out_2[0]}}>
                        </TD>
                      </TR>
                      <TR>
                        <TD>Ending X Value</TD>
                        <TD><INPUT TYPE="TEXT" NAME="x_range_end_2" SIZE="20" value={{x_range_out_2[1]}}></TD>
                      </TR>
                      <TR>
                        <TD>X-Axis Title</TD>
                        <TD><INPUT TYPE="TEXT" NAME="x_axis_2" SIZE="20" value = "Use Above" ></TD>
                      </TR>
                      <TR>
                        <TD>Starting Y value</TD>
                        <TD>
                          <INPUT TYPE="TEXT" NAME="y_range_start_2" SIZE="20" value=0.0>
                        </TD>
                      </TR>
                      <TR>
                        <TD>Ending Y value</TD>
                        <TD>
                          <INPUT TYPE="TEXT" NAME="y_range_end_2" SIZE="20" value={{max_y_2}}>
                        </TD>
                      </TR>
                      <TR>
                        <TD>Y-Axis Title</TD>
                        <TD><INPUT TYPE="TEXT" NAME="y_axis_2" SIZE="20" value = "Use Above" ></TD>
                      </TR>
                      <TR>
                        <TD>Title</TD>
                        <TD><INPUT TYPE="TEXT" NAME="Title2" SIZE="20"></TD>
                      </TR>
                      <TR>
                        <TD>File Name</TD>
                        <TD><INPUT TYPE="TEXT" NAME="file2" SIZE="20" value={{plot_filename}}></TD>
                      </TR>
                      <TR>
                        <TD>Plotted Line</TD>
                        <TD><label for="radio_y2">Yes</label>
                        <INPUT TYPE="radio" NAME="radio2" checked id="radio_y2" value="radio_y">
                        <label for="radio_n2">No</label>
                        <INPUT TYPE="radio" NAME="radio2" id="radio_n2" value="radio_n"> </TD>
                      </TR>

                    </TABLE>
                    <P><INPUT TYPE="SUBMIT" VALUE="Save Figure 2" NAME="plot2_svfig"></P>
                </FORM>
                <img src="{{ image_4 }}"/>

                {% endif %}
                {% if final_x_value_2 == None %}
                <br><pe_1> Found no datapoints or no inflection point after the maximum value; therefore, no onset was calculated.<br>
                   If this was not a baseline and the datapoints do exist, then try several manual input ranges.<br> If it still will not work, contact amwalla3@go.olemiss.edu </pe_1>
                {% endif %}
                
                {% if final_x_value_3 != None %}
                <p style="font-size:30px"> The Third Onset Value:  <strong>{{final_x_value_3}} {{xu_abrev}}</strong></p>
                <p><em>The input interval was {{text1}} and the used interval was {{test_3}}</em></p>
                <p>Plotted Line: {{line_formula3}}</p>
                <p>RMS Error for the Polynomial Fit: {{rms_3}}</p>
                <img src="{{ image_5 }}"/>
                <p> For the Starting and Ending X Values, use integers in the following format: 200 </p>
                <p> The Starting and Ending Y Values accept floats and integers</p>
                <p> The file will be named by the File Name line as a pdf</p>
                <p> <em>Note</em>: All boxes require input</p>
            
                
                <FORM METHOD="POST" enctype=multipart/form-data>
                    <TABLE BORDER="1">
                      <TR>
                        <TD>Starting X value</TD>
                        <TD>
                          <INPUT TYPE="TEXT" NAME="x_range_start_3" SIZE="20" value={{x_range_out_3[0]}}>
                        </TD>
                      </TR>
                      <TR>
                        <TD>Ending X Value</TD>
                        <TD><INPUT TYPE="TEXT" NAME="x_range_end_3" SIZE="20" value={{x_range_out_3[1]}}></TD>
                      </TR>
                      <TR>
                        <TD>X-Axis Title</TD>
                        <TD><INPUT TYPE="TEXT" NAME="x_axis_3" SIZE="20" value = "Use Above" ></TD>
                      </TR>
                      <TR>
                        <TD>Starting Y value</TD>
                        <TD>
                          <INPUT TYPE="TEXT" NAME="y_range_start_3" SIZE="20" value=0.0>
                        </TD>
                      </TR>
                      <TR>
                        <TD>Ending Y value</TD>
                        <TD>
                          <INPUT TYPE="TEXT" NAME="y_range_end_3" SIZE="20" value={{max_y_3}}>
                        </TD>
                      </TR>
                      <TR>
                        <TD>Y-Axis Title</TD>
                        <TD><INPUT TYPE="TEXT" NAME="y_axis_3" SIZE="20" value = "Use Above" ></TD>
                      </TR>
                      <TR>
                        <TD>Title</TD>
                        <TD><INPUT TYPE="TEXT" NAME="Title3" SIZE="20"></TD>
                      </TR>
                      <TR>
                        <TD>File Name</TD>
                        <TD><INPUT TYPE="TEXT" NAME="file3" SIZE="20" value={{plot_filename}}></TD>
                      </TR>
                      <TR>
                        <TD>Plotted Line</TD>
                        <TD><label for="radio_y3">Yes</label>
                        <INPUT TYPE="radio" NAME="radio3" checked id="radio_y3" value="radio_y">
                        <label for="radio_n3">No</label>
                        <INPUT TYPE="radio" NAME="radio3" id="radio_n3" value="radio_n"> </TD>
                      </TR>

                    </TABLE>
                    <P><INPUT TYPE="SUBMIT" VALUE="Save Figure 3" NAME="plot3_svfig"></P>
                </FORM>
                <img src="{{ image_6 }}"/>
                
                {% endif %}
                {% if final_x_value_3 == None %}
                <br><pe_1> Found no datapoints or no inflection point after the maximum value; therefore, no onset was calculated.<br>
                   If this was not a baseline and the datapoints do exist, then try several manual input ranges.<br> If it still will not work, contact amwalla3@go.olemiss.edu </pe_1>
                {% endif %}

                {% if final_x_value_4 != None %}
                <p style="font-size:30px"> The Fourth Onset Value: <strong>{{final_x_value_4}} {{xu_abrev}}</strong> </p>
                <p><em>The input interval was {{text1}} and the used interval was {{test_4}}</em></p>
                <p>{{line_formula4}}</p>
                <p>RMS Error for the Polynomial Fit: {{rms_4}}</p>
                <img src="{{ image_7 }}"/>

                <p> For the Starting and Ending X Values, use integers in the following format: 200 </p>
                <p> The Starting and Ending Y Values accept floats and integers</p>
                <p> The file will be named by the File Name line as a pdf</p>
                <p> <em>Note</em>: All boxes require input</p>

                
                
                <FORM METHOD="POST" enctype=multipart/form-data>
                    <TABLE BORDER="1">
                      <TR>
                        <TD>Starting X value</TD>
                        <TD>
                          <INPUT TYPE="TEXT" NAME="x_range_start_4" SIZE="20" value={{x_range_out_4[0]}}>
                        </TD>
                      </TR>
                      <TR>
                        <TD>Ending X Value</TD>
                        <TD><INPUT TYPE="TEXT" NAME="x_range_end_4" SIZE="20" value={{x_range_out_4[1]}}></TD>
                      </TR>
                      <TR>
                        <TD>X-Axis Title</TD>
                        <TD><INPUT TYPE="TEXT" NAME="x_axis_4" SIZE="20" value = "Use Above" ></TD>
                      </TR>
                      <TR>
                        <TD>Starting Y value</TD>
                        <TD>
                          <INPUT TYPE="TEXT" NAME="y_range_start_4" SIZE="20" value='0.0'>
                        </TD>
                      </TR>
                      <TR>
                        <TD>Ending Y value</TD>
                        <TD>
                          <INPUT TYPE="TEXT" NAME="y_range_end_4" SIZE="20" value={{max_y_4}}>
                        </TD>
                      </TR>
                      <TR>
                        <TD>Y-Axis Title</TD>
                        <TD><INPUT TYPE="TEXT" NAME="y_axis_4" SIZE="20" value = "Use Above" ></TD>
                      </TR>
                      <TR>
                        <TD>Title</TD>
                        <TD><INPUT TYPE="TEXT" NAME="Title4" SIZE="20"></TD>
                      </TR>
                      <TR>
                        <TD>File Name</TD>
                        <TD><INPUT TYPE="TEXT" NAME="file4" SIZE="20" value={{plot_filename}}></TD>
                      </TR>
                      <TR>
                        <TD>Plotted Line</TD>
                        <TD><label for="radio_y4">Yes</label>
                        <INPUT TYPE="radio" NAME="radio4" checked id="radio_y4" value="radio_y">
                        <label for="radio_n4">No</label>
                        <INPUT TYPE="radio" NAME="radio4" id="radio_n4" value="radio_n"> </TD>
                      </TR>

                    </TABLE>
                    <P><INPUT TYPE="SUBMIT" VALUE="Save Figure 4" NAME="plot4_svfig"></P>
                </FORM>




                <img src="{{ image_8 }}"/>
                
                {% endif %}
                {% if final_x_value_4 == None %}
                <br><pe_1> Found no datapoints or no inflection point after the maximum value; therefore, no onset was calculated.<br>
                   If this was not a baseline and the datapoints do exist, then try several manual input ranges.<br> If it still will not work, contact amwalla3@go.olemiss.edu </pe_1>
                {% endif %}
        </div>
        
        
    </body>
</html>