<!doctype html>

<title>Upload new File</title>
<link rel="stylesheet" href="../static/style.css">
        <h1>Upload new File</h1>

<body>
        <p> For the input X Values, use wavelength integers in the form "200"</p>
        <p> If you would like to use the maximum value on the graph, then use the input range of "0.0"</p>
</body><br>
<form method=post enctype=multipart/form-data>
        <span class="tab"></span><span class="tab"></span><input type=file name=file><br><br>
        <label for="min_x">Minimum X Value <span class="tab"></label>
        <label for="max_x">Maximum X Value</label></span><br>
        <input type="text" id="min_x" name="text1" value="0.0">
        <input type="text2" id="max_x" name="text2" value="0.0"><br><br>
        <label for="x_unit">X unit :</label>
        <label for="y_unit">Y unit</label><br>
        <select name="x_unit">
                <option value = "nm">nm</option>
                <option value = "cm-1">cm<sup>-1</sup></option>
                <option value = "eV">eV</option>
        </select>

        <select name="y_unit">
                <option value="abs">abs</option>
        </select><br><br>
        
        <input type=submit value=Upload>
</form>
<body>
        <br><p> <em>Note</em>: Any saved figures will appear in the directory above the program</p>
</body>
